---
import Blog from '../../layouts/Blog.astro';
import { getCollection } from 'astro:content';
const blogEntries = await getCollection('blog');
---
<Blog title='blog'>
  <div class="max-w-full md:max-w-5xl m-auto">
    <ul class="flex px-4 gap-4">
      {blogEntries.map(blogPostEntry => (
        <li class="sm:w-1/2 md:w-1/3">
          <div class="aspect-square flex items-center justify-center overflow-hidden rounded-md">
            <img class="object-cover" src={blogPostEntry.data.image?.src} alt={blogPostEntry.data.image?.alt}>
          </div>
          <div class="p-4">
            <span class="block mr-8 text-sm">
              <time datetime={blogPostEntry.data.publishedDate.toISOString()}>
                {blogPostEntry.data.publishedDate.toDateString()}
              </time>
            </span>
            <a href={`/blog/${blogPostEntry.slug}`}>{blogPostEntry.data.title}</a>
          </div>
        </li>
      ))}
    </ul>
  </div>
</Blog>
